    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <h2>Help us improve the site!</h2>
                <p>This website is hosted on <a href="https://github.com/WillSullivan/IDownvotedYouBecause">GitHub</a> 
                and served via <a href="https://pages.github.com/">GitHub Pages</a>. This means that if you have a 
                GitHub account you can request changes, updates, and new pages that cover different situations by 
                <a href="https://github.com/WillSullivan/IDownvotedYouBecause/issues/new">submitting an Issue</a>. 
                You can even add them yourself by <a href="https://help.github.com/articles/fork-a-repo/">forking</a> 
                the website's <a href="https://github.com/WillSullivan/IDownvotedYouBecause">repository</a>, making 
                changes as you see fit.  Once completed, you can send me a 
                <a href="https://help.github.com/articles/using-pull-requests/">pull request</a> to add your changes to the live website.</p>            
            </div>
        </div>
    </section>
